<template>
    <div>
        <div class="class1">Right</div>
        <div class="class2">left</div>
        <hr>
        <div class="class3">text alignment = left</div>
        <hr>
        <div class="class4">direction = ltr</div>
        <hr>
        <div style="background-color: #fffad1">
            <div style="display: inline">hello1</div>
            <div style="display: inline">hello2</div>
        </div>
        <hr>
        <div class="class4">
            <button>btn 1</button>
            <button>btn 2</button>
        </div>
        <hr>
        <div class="class4">
            <input type="text" value="1">
            <input type="text" value="2">
        </div>
        <hr>
        <div class="class4">
            <ul>
                <li>1</li>
                <li>2</li>
            </ul>
        </div>
        <hr>
        <div class="class4">
            <ol>
                <li>1</li>
                <li>2</li>
            </ol>
        </div>
        <hr>
        <div class="class4">
            <table>
                <tr>
                    <td>
                        1
                    </td>
                    <td>
                        2
                    </td>
                </tr>
            </table>
        </div>
        <hr>
        <div class="class4">
            <img src="https://i.ytimg.com/vi/lotbZQ55SgU/maxresdefault.jpg" width="300" height="200" alt=""> hello
        </div>
        <hr>
        <div class="class4">
            <div style="display: inline; position: absolute; left: 0">1</div>
            <div style="display: inline; position: absolute; right: 0">2</div>
        </div>
    </div>
</template>

<script>
    export default {
        name: 'Home',
    }
</script>

<style scoped>
    .class1 {
        position: absolute;
        right: 10px;
        top: 20px;
        background-color: #fffad1;
    }

    .class2 {
        position: absolute;
        left: 10px;
        top: 20px;
        background-color: red;
    }

    .class3 {
        margin-top: 50px;
        text-align: left;
    }

    .class4 {
        direction: ltr;
    }
    hr{
        margin: 20px 0;
    }
</style>
