<template>
  <div id="app">
    <div style="text-align: center; margin: 0 auto 30px auto">
      <div @click="normal" style="display: inline; cursor: pointer">Before</div> |
      <div @click="rtlcss" style="display: inline; cursor: pointer">After </div>
    </div>
    <router-view/>
  </div>
</template>

<script>
  export default {
    name: 'app',
    methods:{
      addStyleSheet(string) {
        let link = document.createElement('link');
        link.setAttribute('rel', 'stylesheet');
        link.setAttribute('class', 'ar')
        link.type = 'text/css';
        link.href = '/css/' + string;
        document.head.appendChild(link);
      },
      normal(){
        document.querySelectorAll('link[rel=stylesheet]').forEach(e => e.parentNode.removeChild(e));
        this.addStyleSheet('app.css')
        this.addStyleSheet('chunk-vendors.css')
      },
      rtlcss(){
        document.querySelectorAll('link[rel=stylesheet]').forEach(e => e.parentNode.removeChild(e));
        this.addStyleSheet('app.rtl.css')
        this.addStyleSheet('chunk-vendors.rtl.css')
      }
    }
  }
</script>
